<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="HRSQLService"
			 connectionString =
			 "Data Source=РОМА-ПК\SQLEXPRESS;
			 Initial Catalog=Customers_products;
			 Integrated Security=True"/>
	</connectionStrings>
</configuration>